
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Adapter Table Pro</title>
<!--    <link rel="SHORTCUT ICON" href="../icons/favicon.ico" sizes="16x16" type="image/x-icon">-->
<!--    <link rel="SHORTCUT ICON" href="../icons/favicon(1).ico" sizes="32x32" type="image/x-icon">-->
</head>
<body align="center">
<form action="/login" method="post">
    <div><h2><label> User Name : <input type="text" name="username"/> </label></h2></div>
    <div><h2><label> Password: <input type="password" name="password"/> </label></h2></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>