<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Spring Security Example </title>
</head>
<body align="center">
<form action="/login" method="post">
    <div><h2><label> User Name : <input type="text" name="username"/> </label></h2></div>
    <div><h2><label> Password: <input type="password" name="password"/> </label></h2></div>

    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>