<html lang="ru">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Search Result</title>
</head>
<body>
<div align="center">
    <h2>Search Result by "{{search}}"</h2>
    <h3><form action="/">
        <button>Back</button>
    </form></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Институт</th>
            <th>Номер_группы</th>
            <th>Ссылка_ВКонтакте</th>
            <th>Ссылка_Instagram</th>
            <th>Phone</th>
            <th>Мотивационное_письмо</th>
            <th>Дата_очного_отбора</th>
            <th>Фото</th>
            <th>Комментарий</th>
        </tr>
        {{#listAdapter}}
            <tr>
                <td>{{name}}</td>
                <td>{{university}}</td>
                <td>{{group}}</td>
                <td><a href="{{vk}}">vk</a></td>
                <td><a href="{{inst}}">inst</a></td>
                <td>{{phone}}</td>
                <td>{{letter}}</td>
                <td>{{date}}</td>
                <td><a href="{{photo}}">photo</a></td>
                <td>{{comment}}</td>
            </tr>
        {{/listAdapter}}
    </table>
</div>
</body>
</html>